
{% extends 'layout.html' %}
{% load static %}
{% block content %}

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<h1>Добавить категорию</h1>
<form action="/add/" method="post">
    {% csrf_token %}
    <label>
        <input class="form-control" type="text" placeholder="Название категории" name="category_name">
    </label>
    <input type="submit" class="btn-primary" value="Отправить">
</form>
{#<h1>добавить категорию</h1>#}
{#<form action="/add/" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <input type="submit" value="Отправить">#}
{#</form>#}
{% endblock %}